{% extends "layout.html" %}
{% block content %}
<h1>About The Site</h1>
<hr>
<p><strong>The Blue Hydrangea</strong> is a platform for creating your own blog or journal! It's based upon a 
simple content management system <strong>(CMS)</strong> which includes some of the following features:</p>
<ul>
    <li><strong>administrators</strong> can create posts using both HTML and <a href="https://www.markdownguide.org">Markdown,</a></li>
    <li>a convenient interface for managing accounts and content.</li>
</ul>
<h2>Frequently Asked Questions</h2>
<ul>
    <li><a href="#faq1">How can I get an account here?</a></li>
	<li><a href="#faq2">What can I post about here?</a></li>
</ul>
<h3 id="faq1">How can I get an account here?</h3>
<p>After you have read over the <a href="{% url 'posts:tos' %}">privacy policy and terms of service,</a> please <a href="mailto:sepia.temps-0h@icloud.com">contact me</a> 
    and include the following information in your e-mail:
</p>
<ul>
    <li>your desired username (this should not exceed <strong>150 characters</strong> and be alphanumeric, e.g. Guest1),</li>
    <li>your full name,</li>
    <li>your e-mail address.</li>
</ul>
<p>Your full name and e-mail address will <strong>only</strong> be visible to administrators. This information will <strong>not</strong> be 
    shared without your permission. If your account has been <strong>approved,</strong> you will be contacted with a temporary password which you can then 
    reset to any value of your choosing!
</p>
<h3 id="faq2">What can I post about here?</h3>
<p>
	Within certain limits, you can post and share just about <strong>anything</strong> that you are interested in! Please check the 
	<a href="{% url 'posts:'tos' %}">privacy policy and terms of service</a> for more information on what is considered <strong>appropriate.</strong>
</p>
{% endblock %}
