{% extends "layout.html" %}
{% block content %}
    <h1>Comment On: {{ post.title.title }}</h1>
    <hr>
    {% if messages %}
    <div class="messages">
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <p>
        <strong>Note:</strong> Please read the <a href="{% url 'posts:tos' %}">privacy policy and terms of service</a>
        before you proceed. Thanks!
    </p>
    <form action="{% url 'posts:comment' post.id %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <div id="submit_button_container">
            <input type="submit" name="submit" value="Submit your comment!">
        </div>
    </form>
{% endblock %}
