{% extends "layout.html" %}
{% block content %}
<h1>Privacy/Terms of Service</h1>
<hr>
<h2 id="top">Table of Contents</h2>
<ul>
    <li><a href="#priv_policy">Privacy Policy</a></li>
    <li><a href="#tos">Terms of Service</a></li>
</ul>
<h3 id="priv_policy">Privacy Policy</h2>
<p><strong>The Blue Hydrangea</strong> has been designed to collect a <strong>minimum</strong> amount of data in order
    to operate. Our web server software logs the following information when you visit:</p>
<ul>
    <li>the IP address from which the request originated,</li>
    <li>the URL requested,</li>
    <li>the web browser used to visit the site (as well as its version),</li>
    <li>the link which referred you to the site.</li>
</ul>
<p>In addition, the following storage areas provided by your browser <strong>may</strong>
be used to temporarily store information related to your session:</p>
<ul>
    <li>cookies,</li>
    <li>local storage,</li>
    <li>session storage.</li>
</ul>
<p><strong>None</strong> of these bits of information are used to track your activity across any 
other website. They are strictly used to store information related to your account and session,
e.g. whether or not you are an authenticated user.</p>
<h3 id="tos">Terms of Service</h2>
<p><strong>The Blue Hydrangea</strong> is dedicated to providing a professional, safe environment for
    online discussions. The following guidelines <strong>must</strong> be followed if you intend to post
    or comment on the site:</p>
<ul>
    <li>do not use abusive or hateful language,</li>
    <li>do not post content which is considered illegal (e.g. links to piracy sites),</li>
    <li>do not attempt to interfere with site operation, impersonate staff members or access portions of the 
        site that are restricted to moderators or staff members,</li>
    <li>do not use the site for advertising of <strong>any</strong> kind (exceptions <em>may</em> be made for 
    charitable organizations or fundraisers).</li>
</ul>
<p>Any content or user that fails to adhere to these guidelines will be immediately and <strong>permanently</strong> removed!
</p>
{% endblock %}
